.landingpage{
    background-image: url("/home/moringa/Downloads/BeFunky-photo.jpg");
    background-size: cover;
    height: 600px
    

}
 /* .landingpage p{
     padding:100px 
}  */
.size{
    height: 200px;
    width: 300px;
}
.two{
    margin-top: 30px;
}
.overlay{
    display: none
}
.overlay1{
    display:none;
    position: absolute;
    bottom:0px;
    background:white;
    opacity: 0.5;
    width: 90%;
    height: 100%;
}
.aboutus{
padding: 100px;
}


